In [ ]:
import pandas as pd
import numpy as np


df = pd.read_csv("Student.csv")
print(" Student Data:")
print(df)


df["Average"] = df[["Maths", "Science", "English"]].mean(axis=1)
print("\n Average Marks:")
print(df[["Name", "Average"]])


print("\n Subject Wise Statistics:")
print(df.describe())


topper = df.loc[df["Average"].idxmax()]
print("\n Class Topper:")
print(topper["Name"], "with Average Marks:", topper["Average"])


marks_array = df[["Maths", "Science", "English"]].to_numpy()
overall_mean = np.mean(marks_array)
print("\n Overall Mean of all marks:", overall_mean)

 Student Data:
    Name  Maths  Science  English  Unnamed: 4
0  Sohel     78       85       74         NaN
1   Amit     65       70       60         NaN
2  Priya     88       92       80         NaN
3  Rohan     45       50       55         NaN
4   Neha     95       90       98         NaN

 Average Marks:
    Name    Average
0  Sohel  79.000000
1   Amit  65.000000
2  Priya  86.666667
3  Rohan  50.000000
4   Neha  94.333333

 Subject Wise Statistics:
           Maths    Science    English  Unnamed: 4    Average
count   5.000000   5.000000   5.000000         0.0   5.000000
mean   74.200000  77.400000  73.400000         NaN  75.000000
std    19.841875  17.572706  17.082154         NaN  17.683954
min    45.000000  50.000000  55.000000         NaN  50.000000
25%    65.000000  70.000000  60.000000         NaN  65.000000
50%    78.000000  85.000000  74.000000         NaN  79.000000
75%    88.000000  90.000000  80.000000         NaN  86.666667
max    95.000000  92.000000  98.000000         NaN  94.333333

 Class Topper:
Neha with Average Marks: 94.33333333333333

 Overall Mean of all marks: 75.0